<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </center>
  </body>
</html>
